 <form method="post" action="{{ action_url }}">{% csrf_token %}
     {% if next_url %}
     <input type="hidden" name="next" value="{{ next_url }}"/>
     {% endif %}
{% if address_type %}
     <input type="hidden" name="address_type" value="{{ address_type }}"/>
     {% endif %}
                       {{ form.as_p }}
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>