
{% extends 'base.html' %}
{% block content %}
    {% load staticfiles %}
    {% include 'navbar.html' %}
    <div class="col-sm-6 col-12">
    {% if error %}{{ error }}{% endif %}
        <form method="post">
                        {% csrf_token %}
                       {{ form }}
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>

    <b>Not Registered?</b>
    <form action="{% url 'register' %}" method="get" >
              {% csrf_token %}
               <button class="btn btn-success" type="submit">Register</button>
          </form>
    </div>


{% endblock %}
