

{% extends 'base.html' %}
{% block content %}
    {% load staticfiles %}
    {% include 'navbar.html' %}


                <p><b>Product : </b>{{ object.title }}</p>
        <p><img src="{{ object.image.url }}" class="img-fluid" ></p>
        <p><b>Description :</b></p>
                   <p> {{ object.description }}</p>
                <p><b>Price : </b>{{ object.price }}$</p>

    <br>

    {% include 'products/snippets/updatecart.html' with product=object cart=cart %}


{% endblock %}
