
{% extends 'base.html' %}
{% block content %}
    {% load staticfiles %}
    {% include 'navbar.html' %}
<h1>Products</h1>

 {% if query %}
            <div class='col-12' >
                Results for <b>{{ query }}</b>
                <hr/>
</div>
    {% endif %}
<div  class="row">
{% for product in object_list %}
    <div class="col">
    {% include 'products/snippets/card.html' with instance=product %}
    </div>
{#    <li><a href="{{ product.pk }}">{{ product.title }}</a></li>#}
{% empty %}
    {% if query %}
    <li>No Product Found.Try Again !</li>
    {% else %}
    <li>No Products available.</li>
    {% endif %}
{% endfor %}
</div>

{% endblock %}
