{% extends 'base.html' %}

{% block content %}

    <div class="card" style="width: 18rem;">
    {% if instance.image %}
        <a href="{{ instance.pk }}" class="btn-primary"><img class="card-img-top" src="{{ instance.image.url }}" alt="{{ instance.title }} logo"></a>
        {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ instance.title }}</h5>
    <p class="card-text">{% if instance.description %}{{ instance.description|truncatewords:12 }}{% endif %}</p>
    <a href="{{ instance.pk }}" class="btn btn-primary">View</a>
  </div>
</div>

{% endblock %}