{% extends 'base.html' %}

{% block content %}


        <form class="form-inline ml-auto" action="{% url 'cartupdate' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="product_id" value="{{ product.id }}"/>
    {% if incart %}
        <button type="submit" class="btn btn-danger" >Remove</button>
        {% else %}

        {% if product in cart.products.all %}
            In Cart <button type="submit" class="btn btn-danger" >Remove</button>

    {% else %}
     <button class="btn btn-success" type="submit">Add to Cart</button>
    {% endif %}
{% endif %}
        </form>

{% endblock %}