 <form method="post" action="{% url 'login' %}">{% csrf_token %}
     {% if next_url %}
     <input type="hidden" name="next" value="{{ next_url }}"/>
     {% endif %}

                       {{ form }}
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>