{% extends 'base.html' %}
{% block content %}
    {% load staticfiles %}
     {% include 'navbar.html' %}
<div class="text-center"> <h1 >{{ title }}</h1></div>
    <hr/>
    <b>This Page is under Construction !!</b>
{% endblock %}