<!doctype html>
<html lang="en">
  <head>
      {% load staticfiles %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {% include 'css.html' %}
    <title>{{ title }}</title>
  </head>
  <body>
<div class="container">
    {% block content %}

  {% endblock %}
</div>

{% include 'js.html' %}


  </body>
</html>