{% extends 'base.html' %}
{% block content %}
    {% load staticfiles %}
     {% include 'navbar.html' %}
<div class="text-center"> <h1 >{{ title }}</h1></div>


        <div class="row">
{#            <div class="col">#}
{#                {{ content }}#}
{#            </div>#}
        </div>
        {% if request.user.is_authenticated %}
             <hr/>
            <div class=" text-center">
             <p>{{ premium }}</p>
                <br><a href="{% url 'products:productlist' %}"><img src="{% static "images/cart.jpg" %}" class="img-fluid"/></a>
                <p>Fill your cart</p>
            <p>This site is developed by Rahul Jain.</p>
            <p>This is a sample ecommerce site. </p>
                <p>This site should not be used for commercial purpose without the permission of owner</p>
            <p>Chekout my site and Enjoy !!</p>
            </div>
        {% else %}
    <hr/>
     <div class="text-center">
         <br><a href="{% url 'products:productlist' %}"><img src="{% static "images/images.jpg" %}" class="img-fluid"/></a>
            <p>This site is developed by Rahul Jain.</p>
            <p>This is a sample ecommerce site. </p>
          <p>This site should not be used for commercial purpose without the permission of owner</p>
            <p>Chekout my site and Enjoy !!</p>
            </div>
        {% endif %}









{#                <div class="col-sm-6 col-12">#}
{#                    {% if form %}#}
{#                    <form method="post">#}
{#                        {% csrf_token %}#}
{#                       {{ form }}#}
{#                        <button type="submit" class="btn btn-default">Submit</button>#}
{#                    </form>#}
{#                    {% endif %}#}
{##}
{#                </div>#}

    {% endblock %}