{% extends 'base.html' %}
{% block content %}
    {% load staticfiles %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
   <div class='container'>
      <a class="navbar-brand" href="{% url 'homepage' %}">
        <img src="{% static 'images/icon.jpg' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        JKart
      </a>
      <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarCollapseLinks' aria-expanded='false' aria-label='Toggle Navigation'>
        <span class='navbar-toggler-icon'></span>
      </button>




      <div class='collapse navbar-collapse' id='navbarCollapseLinks'>
        <ul class='navbar-nav'>
          <li class='nav-item'>
            <a href='{% url 'homepage' %}' class='nav-link'>Home</a>
          </li>
          <li class='nav-item'>
            <a href='{% url 'about' %}' class='nav-link'>About</a>
          </li>
          <li class='nav-item'>
            <a href='{% url 'products:productlist' %}' class='nav-link'>Products</a>
          </li>
                    {% if request.user.is_authenticated %}

             <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
            {% else %}
             <li class="nav-item">
        <a class="nav-link" href="{% url 'register' %}">Register</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
        {% endif %}
          <li class="nav-item">
        <a class="nav-link" href="{% url 'cart' %}">{{ request.session.cart_items }}<i class="fas fa-shopping-cart"></i></a>
      </li>

        </ul>

        <form class="form-inline ml-auto" action="{% url 'search:search_list' %}">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="query">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      {% if request.user.is_authenticated %}
           <ul class="nav navbar-nav navbar-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{ request.user.username }} <span class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'orders:myorders' %}">My Orders</a>
              <a class="dropdown-item" href="{% url 'cart' %}">My Cart</a>
            </div>
        </li>
      </ul>

      {% endif %}
      </div>
  </div>
</nav>
{% endblock %}






{#{% extends 'base.html' %}#}
{#{% block content %}#}
{#<nav class="navbar navbar-expand-lg navbar-light bg-light">#}
{#  <a class="navbar-brand" href="{% url 'homepage' %}">JKart</a>#}
{#  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#    <span class="navbar-toggler-icon"></span>#}
{#  </button>#}
{##}
{#  <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#    <ul class="navbar-nav mr-auto">#}
{#      <li class="nav-item active">#}
{#        <a class="nav-link" href="{% url 'homepage' %}">Home <span class="sr-only">(current)</span></a>#}
{#      </li>#}
{#      <li class="nav-item">#}
{#        <a class="nav-link" href="{% url 'about' %}">About</a>#}
{#      </li>#}
{#        <li class="nav-item">#}
{#        <a class="nav-link" href="{% url 'products:productlist' %}">Products</a>#}
{#      </li>#}
{#    <li class="nav-item">#}
{#        <a class="nav-link " href="{% url 'contact' %}">Contact</a>#}
{#      </li>#}
{#        {% if request.user.is_authenticated %}#}
{##}
{#             <li class="nav-item">#}
{#        <a class="nav-link" href="{% url 'logout' %}">Logout</a>#}
{#      </li>#}
{#            {% else %}#}
{#             <li class="nav-item">#}
{#        <a class="nav-link" href="{% url 'register' %}">Register</a>#}
{#      </li>#}
{#        <li class="nav-item">#}
{#        <a class="nav-link" href="{% url 'login' %}">Login</a>#}
{#      </li>#}
{#        {% endif %}#}
{#      <li class="nav-item dropdown disabled">#}
{#        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#          Dropdown#}
{#        </a>#}
{#        <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#          <a class="dropdown-item" href="{% url 'products:productlist' %}">Products</a>#}
{#          <a class="dropdown-item" href="#">Another action</a>#}
{#          <div class="dropdown-divider"></div>#}
{#          <a class="dropdown-item" href="#">Something else here</a>#}
{#        </div>#}
{#      </li>#}
{##}
{#    </ul>#}
{#    <form class="form-inline my-2 my-lg-0">#}
{#      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">#}
{#      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
{#    </form>#}
{#  </div>#}
{#</nav>#}
{#{% endblock %}#}
















