{% extends 'base.html' %}

{% block content %}

{% include 'navbar.html' %}

    <div class="col-6 mx-auto py-5 text-center">
    <h1 class="display-1">Thank you for your order.</h1>
    </div>

{% endblock %}