{% extends 'base.html' %}
{% block content %}
    {% load staticfiles %}
{% include 'navbar.html' %}

    {% if not billing_profile %}
        <div class="row text-center">
        <div class="col-12 col-md-6">
        <p class="lead">Login</p>
            {% include 'accounts/snippets/form.html' with form=login_form next_url=request.build_absolute_uri %}
        </div>
        </div>

    {% else %}
       {% if not object.shipping_address  %}

            <div class="row">
           <div class="col-md-6 mx-auto col-10">
               <p class="lead">Shipping Address</p>
               <hr/>
               {% url 'checkout_address_create' as checkout_address_create %}
        {% include 'addresses/snippets/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='shipping' %}
                </div>
           </div>

        {% elif not object.billing_address %}

           <div class="row">
           <div class="col-md-6 mx-auto col-10">
               <p class="lead">Billing Address</p>
               <hr/>
               {% url 'checkout_address_create' as checkout_address_create %}
        {% include 'addresses/snippets/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='billing' %}
                </div>
           </div>
        {% else %}
<h1>Finalize Checkout</h1>
    <p>Cart Items:{% for product in object.cart.products.all %}{{ product }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
           <p>Shipping Address:{{ object.shipping_address.get_address }}</p>
           <p>Billing Address: {{ object.billing_address.get_address }}</p>
    <p>Cart Total : {{ object.cart.total }}</p>
    <p>Shipping Total : {{ object.shipping_total }}</p>
    <p>Order Total : {{ object.total }}</p>
            <form action="" method="post" >
              {% csrf_token %}
               <button class="btn btn-success" type="submit">Checkout</button>
        {% endif %}
    {% endif %}
{% endblock %}