{% extends 'base.html' %}
{% block content %}
    {% load staticfiles %}
{% include 'navbar.html' %}

    <h1>Cart</h1>
{% if cart.products.count > 0 %}
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">S.No.</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>

    </tr>
  </thead>
  <tbody>
  {% for product in cart.products.all %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td><a href="{% url 'products:productdetail' pk=product.id %}">{{ product.title }}</a></td>
      <td>{{ product.price }}$</td>
    <td>{% include 'products/snippets/updatecart.html' with product=product cart=cart incart=True %}</td>
    </tr>
  {% endfor %}
    <tr>
      <td colspan="2"></td>
      <td><b>SubTotal </b>{{ cart.subtotal }}$</td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td><b>Total </b>{{ cart.total }}$</td>
    </tr>
   <tr>
      <td colspan="2"></td>
      <td>
          <form action="{% url 'checkout' %}" method="post" >
              {% csrf_token %}
               <button class="btn btn-success" type="submit">Checkout</button>
          </form>
      </td>
    </tr>
  </tbody>
</table>
{% else %}
<p class="lead">Cart is Empty</p>
    {% endif %}
{% endblock %}


<button class="btn btn-success" type="submit">Add to Cart</button>