{% extends 'base.html' %}
{% block content %}
    {% load staticfiles %}
{% include 'navbar.html' %}

    <h1>My Orders</h1>
{% if user_orders.count > 0 %}
    <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">S.No.</th>
      <th scope="col">Order ID</th>
      <th scope="col">Order Date</th>

    </tr>
  </thead>
  <tbody>
  {% for order in user_orders %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td><a href="{% url 'orders:orderdetail' pk=order.id %}">{{order.order_id}}</a></td>
      <td>{{ order.paid_at }}</td>

    </tr>
  {% endfor %}


  </tbody>
</table>
{% else %}
<p class="lead">No Orders !!</p>
    {% endif %}
{% endblock %}
