

{% extends 'base.html' %}
{% block content %}
    {% load staticfiles %}
    {% include 'navbar.html' %}


                <p><b>Order ID : </b>{{ object.order_id }}</p>

        <p><b>Order Date :</b>{{ object.paid_at }}</p>
                   <p> </p>

    <table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Products</th>
        <th scope="col">Price</th>
    </tr>
    </thead>
    <tbody>
    {% for product in order.cart.products.all %}
        <tr>
        <td><a href="{% url 'products:productdetail' pk=product.id %}">{{ product.title }}</a></td>
        <td>{{ product.price }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
                <p><b>Shipping Address : </b>{{ object.shipping_address.get_address }}</p>
     <p><b>Billing Address : </b>{{ object.billing_address.get_address }}</p>
    <p><b>Order Total : </b>{{ object.total }}$</p>

    <br>




{% endblock %}
